:root {
    --header-background-color: #f0f1f3;
    --header-height: 10vh;
    --footer-height: 3vh;
    --side-button-hover-color: rgb(196, 235, 238);
    --side-button-color: rgb(151, 151, 150);
    --side-button-text-hover-color: white;
    --fast-transition: all 0.25s ease-out;
    --card-transition: all 0.55s ease-out;
    --side-bar-background-color: #f1f5f9;
    --content-background-color: rgb(229, 234, 235);
    --font-color: #1e293b;
    --hover-color: #97a2b4;
}

* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.template {
    position: relative;
    display: grid;
    height: 100vh;
    grid-template-columns: [left-sidebar]1fr[content] 4fr[rigth-sidebar] 1fr[end];
    grid-template-rows: [header] var(--header-height) [sidebar] 1fr [footer] var(--footer-height) [end];
    grid-template-areas:
        "left-sidebar header header"
        "left-sidebar content right-sidebar"
        "footer footer footer";
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: var(--header-background-color);
    box-shadow: 0px 0px 5px 0px var(--font-color);
    font-size: 48px;
    font-weight: 800;
    color: var(--font-color);
}

.left-sidebar {
    z-index: 2;
    grid-area: left-sidebar;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    background-color: var(--left-side-bar-background-color);

}

.options {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.left-sidebar,
.right-sidebar {
    background-color: var(--side-bar-background-color);
    box-shadow: 0px 0px 5px 0px var(--header-background-color);

}

.left-sidebar button {
    padding: 20px;
    border: none;
    color: var(--font-color);
    width: 100%;
    background-color: var(--side-bar-background-color);
}

.left-sidebar p,
.right-sidebar p {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}

.left-sidebar p {
    margin-left: 20px;
}

.left-sidebar button:hover {
    background-color: var(--font-color);
    color: var(--side-button-text-hover-color);
    transition: var(--fast-transition);
}

.right-sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--header-background-color);
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: var(--content-background-color);
    padding: 50px;
    box-shadow: inset 0px 0px 5px 0px var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.announcements,
.squash-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;

}

.cards {
    display: grid;
    width: 100%;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
    background-color: var(--side-bar-background-color);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 30vh;
    border-color: black;
    border-radius: 20px;
    color: var(--font-color);
    box-shadow: 0px 0px 5px 0px var(--header-background-color);
}

.card-title {
    font-weight: 400;
    font-size: 24px;
    padding: 20px;
    text-align: center;

}

.card img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card:hover {
    background-color: var(--hover-color);
    color: var(--side-bar-background-color);
    box-shadow: 0px 0px 5px 0px;
    transition: var(--card-transition);
}


.squash-links a p {
    font-size: 24px;
    font-weight: 400;
    color: var(--content-background-color);
    text-align: center;
}

.announcement-card {
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgb(155, 151, 151);
    width: 90%;
    height: 4vh;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
    margin: 20px;
    background-color: #97a2b4;
    color: var(--side-bar-background-color);
    text-align: center;
}

.nav-options {
    display: flex;
    align-items: center;
}

.nav-options-svg {
    fill: var(--font-color);
    height: 32px;
}

.icon {
    fill: var(--font-color);
    height: 32px;
}
